$space-systems: (
    golden-ratio: (
        space-0: 0px,
        space-1: 8px,
        space-2: 13px,
        space-3: 21px,
        space-4: 34px,
        space-5: 55px,
        space-6: 89px,
        space-7: 144px,
    ),
);
